/* FOOTER STARTS HERE */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: var(--white);
  border-top: 10px solid var(--black);
  text-align: center;
  font-size: 25px;
}

footer span {
  font-size: 30px;
  color: var(--red);
}

.lang-btn-container {
  display: flex;
}

footer button {
  margin: 10px 10px 0 10px;
  padding: 10px;
}

footer button a {
  color: var(--black);
}

/* FOOTER ENDS HERE */
