@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bastarda-ff: "Jacquarda Bastarda 9", serif;
  --yarndings-ff: "Yarndings 20", system-ui;
  --lato-ff: "Lato", sans-serif;
  /* COLORS */
  --red: #ff0000;
  --black: #121111;
  --white: #ffffff;
}

a,
a:focus,
a:hover {
  text-decoration: none; /* Remove underline on hover/focus */
}
