*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/img/vyshyvanka.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--lato-ff);
}

/* HEADER STARTS HERE */
header {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  border-bottom: 10px solid var(--black);
  overflow: hidden;
}

header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--bastarda-ff);
  font-size: 25px;
  color: var(--red);
}

header .logo img {
  width: auto;
  height: 80px;
}

/* HEADER ENDS HERE */

/* MAIN SECTION STARTS HERE */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 15px;
}

/* BUTTONS STYLES MAIN SECTION START HERE */
.category-btn {
  flex: 1 0 calc(25% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  height: 80px;
  border: 4px solid var(--black);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
  letter-spacing: 2px;
  transition: 0.5s;
  overflow: hidden;
}
.category-btn a {
  z-index: 10000;
  position: absolute;
}

.category-btn::before {
  content: "";
  position: absolute;
  inset: 0px;
  border-top: 40px solid var(--black);
  border-bottom: 40px solid var(--black);
  border-right: 40px solid transparent;
  transition: 0.5s;
  z-index: 1;
  transform: translateX(-100%);
}
.category-btn:hover::before {
  transform: translateX(0%);
}
.category-btn::after {
  content: "";
  position: absolute;
  inset: 0px;
  border-top: 40px solid var(--black);
  border-bottom: 40px solid var(--black);
  border-left: 40px solid transparent;
  transition: 0.5s;
  z-index: 1;
  transform: translateX(100%);
}
.category-btn:hover::after {
  transform: translateX(0%);
}
.category-btn:hover {
  color: var(--white);
}
/* BUTTONS STYLES MAIN SECTION END HERE */

@media (max-width: 768px) {
  main {
    margin: 0 10px;
  }
  .category-btn {
    flex: 1 0 calc(33.33% - 10px);
  }
}

@media (max-width: 576px) {
  main {
    margin: 0 10px;
  }
  .category-btn {
    flex: 1 0 calc(50% - 10px);
  }
}

@media (max-width: 400px) {
  main {
    margin: 10px 10px;
  }
  .category-btn {
    flex: 1 0 calc(100% - 10px);
    font-size: 16px;
  }
}

/* MAIN SECTION ENDS HERE */
