:root {
  --bastarda-ff: "Jacquarda Bastarda 9", serif;
  /* COLORS */
  --red: #ff0000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #444;
  min-height: 100vh;
}

/* HEADER STARTS HERE */
header {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--bastarda-ff);
  font-size: 25px;
  color: var(--red);
}

header .logo img {
  width: 100px;
  height: auto;
}

/* HEADER ENDS HERE */

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 20px 10px;
}

button {
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
  background-color: #ddd;
  height: 80px;
}

@media (max-width: 768px) {
  main {
    margin: 20px 10px;
  }
  button {
    flex: 1 0 calc(33.33% - 10px); /* Three divs in a row */
  }
}

@media (max-width: 576px) {
  main {
    margin: 20px 10px;
  }
  button {
    flex: 1 0 calc(50% - 10px); /* Two divs in a row */
  }
}

@media (max-width: 400px) {
  button {
    flex: 1 0 calc(100% - 10px); /* Two divs in a row */
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  text-align: center;
}
