@import url("../../global.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN SECTION STARTS HERE */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 15px;
}

/* BUTTONS STYLES MAIN SECTION START HERE */
.tribute-pg {
  flex: 1 0 calc(25% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  height: 80px;
  border: 4px solid var(--black);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
  letter-spacing: 2px;
  transition: 0.5s;
  overflow: hidden;
}

@media (max-width: 576px) {
  main {
    margin: 0 10px;
  }
  .tribute-pg {
    flex: 1 0 calc(50% - 10px);
  }
}

@media (max-width: 400px) {
  main {
    margin: 10px 10px;
  }
  .tribute-pg {
    flex: 1 0 calc(100% - 10px);
    font-size: 16px;
  }
}

/* MAIN SECTION ENDS HERE */

.tribute-pg {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 40px;
  background: none;
  border: 2px solid tomato;
  color: tomato;
  font-size: 25px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.tribute-pg:hover {
  color: white;
}
.tribute-pg::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background: tomato;
  z-index: -1;
  transition: 0.5s;
}
.tribute-pg:hover::before {
  height: 190%;
}
